@use '../util' as *;

.full {

  &__width {


    &--about {
      background-color: var(--corpRed);
      margin-bottom: rem(40);
    }
  }
}

.frontpg {

  &__about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    position: relative;
    width: 100%;

    @include breakpoint-down(small) {
      flex-direction: column;
      height: auto;
    }

    &--img,
    &--text {
      width: 50%;

      @include breakpoint-down(small) {
        width: 100%;
        margin-bottom: rem(20);
      }
    }

    &--img {

      img {
        overflow: hidden;
        height: auto;
      }
    }

    &--text {
      color: var(--white);
      font-weight: 500;
      padding: 0 rem(20);

      @include breakpoint-down(small) {
        padding: 0 rem(15);
      }

      h2 {
        font-size: rem(36);
        margin-bottom: rem(8);

        @include breakpoint-down(small) {
          font-size: 28;
        }
      }

      p {
        font-size: rem(22);
        line-height: 1;

        @include breakpoint-down(small) {
          font-size: rem(18);
        }
      }
    }
    
  }

  &__recruiting {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    position: relative;
    width: 100%;

    @include breakpoint-down(small) {
      flex-direction: column;
      height: auto;
    }

    &--text {
      font-weight: 500;
      padding: 0 rem(20);

      @include breakpoint-down(small) {
        padding: 0 rem(15);
      }

      h2 {
        color: var(--corpRed);
        font-size: rem(36);
        margin-bottom: rem(8);

        @include breakpoint-down(small) {
          font-size: 28;
        }
      }

      p {
        color: var(--textGrey);
        font-size: rem(22);
        line-height: 1;

        @include breakpoint-down(small) {
          font-size: rem(18);
        }
      }
    }
  }

}