@use '../util' as *;

.full {

  &__width {

    &--about {
      background-color: var(--corpRed);
      margin-bottom: rem(100);
    }

    &--recruiting {
      margin-bottom: rem(100);
    }

    &--connect {
      background-image: url('/img/lets_connect_bkgd_1920x300.jpg');
      background-repeat: no-repeat;
      background-position: center center;
      width: cover;
      height: rem(300);
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: rem(100);
    }

    &--testimonials {
      background-image: url('/img/index_testimonials_1920x350.jpg');
      background-repeat: no-repeat;
      background-position: center center;
      width: cover;
      height: rem(250);
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-bottom: rem(40);
    }
  }
}

.frontpg {

  &__about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    position: relative;
    width: 100%;
    height: rem(300);

    @include breakpoint-down(medium) {
      height: auto;
    }

    @include breakpoint-down(small) {
      flex-direction: column;
      height: auto;
    }

    &--img,
    &--text {
      width: 50%;

      @include breakpoint-down(small) {
        width: 100%;
        margin-bottom: rem(20);
        overflow: hidden;
      }
    }

    &--img {
      flex: 1;
      height: rem(300);
      overflow: hidden;

      @include breakpoint-down(medium) {
        height: auto;
      }

      img {
        width: 100%;
        height: 100%;
        display: block;
      }
    }

    &--text {
      color: var(--white);
      font-weight: 500;
      padding: 0 rem(20);
      width: 50%;

      @include breakpoint-down(small) {
        padding: 0 rem(15);
        width: 100%;
      }

      h2 {
        font-size: rem(36);
        margin-bottom: rem(8);

        @include breakpoint-down(medium) {
          font-size: rem(26);
        }
      }

      p {
        font-size: rem(20);
        line-height: 1;
        margin-bottom: rem(30);

        @include breakpoint-down(small) {
          font-size: rem(18);
        }
      }
    }
    
  }

  &__recruiting {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    position: relative;
    width: 100%;

    @include breakpoint-down(medium) {
      height: auto;
    }

    @include breakpoint-down(small) {
      flex-direction: column;
      height: auto;
    }

    &--img {
      flex: 1;
      overflow: hidden;
      box-shadow: 0 0 rem(10) var(--black);

      @include breakpoint-down(medium) {
        height: auto;
      }

      @include breakpoint-down(small) {
        order: 1;
        margin-bottom: rem(20);
      }

      img {
        width: 100%;
        overflow: hidden;
        display: block;
      }
    }

    &--text {
      font-weight: 500;
      padding: 0 rem(20);
      width: 44%;

      @include breakpoint-down(small) {
        padding: 0 rem(20);
        width: 100%;
        order: 2;
      }

      h2 {
        color: var(--corpRed);
        font-size: rem(36);
        margin-bottom: rem(8);

        @include breakpoint-down(medium) {
          font-size: rem(26);
        }
      }

      p {
        color: var(--textGrey);
        font-size: rem(18);
        line-height: 1.3;
        width: 80%;
        margin-bottom: rem(30);

        @include breakpoint-down(small) {
          font-size: rem(18);
        }
      }
    }
  }

  &__testimonials {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0 0 rem(20) rem(20);

    h3 {
      font-family: var(--font-heading);
      font-size: rem(48);
      font-weight: 700;
      letter-spacing: rem(2);
      color: var(--white);
      text-transform: uppercase;
      text-shadow: rem(3) rem(3) rem(5) var(--black);

      @include breakpoint-down(small) {
        font-size: rem(36);
      }
    }

    &--section {
      margin-bottom: rem(80);
    }

    &--testimonial {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: rem(20);
    }

    &--testimonialSingle {
      padding: rem(30);

      @include breakpoint-down(medium) {
        padding: 0 rem(10) rem(30);
      }

      p {
        font-family: var(--font-text);
        font-size: rem(18);
        color: var(--textGrey);
        font-weight: 500;
        line-height: 1.3;
      }

      // a {
      //   color: var(--corpRed);
      // }

      // a:hover {
      //   color: var(--darkGrey);
      //   text-decoration: underline;
      // }
    }

    &--testimonial {

      @include breakpoint-down(small) {
        flex-wrap: wrap;
      }
    }
  }
}

.page {

  &__connect {
    background-color: var(--corpRed80);
    height: rem(200);
    border: rem(10) solid var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
      font-size: rem(36);
      color: var(--white);
      text-transform: uppercase;
      font-weight: 500;
    }
  }
}

.index__input {
  padding: rem(10);
}

input::placeholder { 
    font-family: var(--font-heading);
    font-size: rem(26);
    color: var(--midGrey);
    font-weight: 500;
    padding: rem(10);
  }